/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-03-2016, 08:23:09
    Author     : tfpet
*/
.main-container{
    width: 100% !important;
}
.view-lokale-bookinger
{
    background-color: white;
}
.views-exposed-widget
{
    float:left;
    padding-right: 5px !important;
    width: 12% !important;
}
.views-widget-filter-field_start_dato_value
{
    width: 8% !important;
}
.views-submit-button{
    float:left !important;
}
.views-submit-button .btn{
    margin-top: 20px !important;
}
.views-reset-button .btn{
    margin-top: 28px !important;
}
.views-row{
    float:left;
    width: 100%;
}
.view-lokale-bookinger .view-content{
    float:left;
    width: 100%;
}
.view-lokale-bookinger .view-content .views-row .views-field{
    float:left;
    margin: 5px;
    width: 200px;
    height: 100px;
    word-break: break-all;
}
.view-lokale-bookinger .view-content .views-row{
    border-top: 1px solid black;
}
.views-field-edit-node , .views-field-view-node , .views-field-nothing, .views-field-nothing-1
{
    margin:5px 5px 0px 0px !important;
    min-width: 0% !important;
     width: auto !important;
    height:auto !important;
}