/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-03-2016, 08:23:09
    Author     : tfpet
*/
.main-container{
    width: 100% !important;
}
.odd{
    background-color: graytext;
}
.view-lokale-bookinger
{
    background-color: white;
}
.views-exposed-widget
{
    width: 15% !important;
    float:left;
}