/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-03-2016, 08:23:09
    Author     : tfpet
*/
.main-container{
    width: 100% !important;
}
.view-lokale-bookinger , .region-content
{
    background-color: white;
}
.views-exposed-widget
{
    width: 25%;
    margin:.5em 1em 0 0 !important;
}
.views-submit-button , .views-reset-button
{
    float: left !important; 
}
.views-row{
    float:left;
    width: 100%;
}
.view-lokale-bookinger .view-content{
    float:left;
    width: 100%;
}
.view-lokale-bookinger .view-content .views-row .views-field{
    float:left;
    margin: 5px;
    min-width: 100px;
    width: 15%;
    height: 100px;
    
}
.view-lokale-bookinger .view-content .views-row{
    border-top: 1px solid black;
}
.views-field-edit-node , .views-field-view-node , .views-field-nothing, .views-field-nothing-1,.views-field-nothing-2
{
    margin:5px 5px 0px 0px !important;
    min-width: 0% !important;
     width: auto !important;
    height:auto !important;
}
.views-row-odd
{
    background-color: lightgrey;
}
.unconfirmed{
    color: red;
}
.confirmed{
    color: green;
}
div.views-exposed-widget.views-submit-button button
{
    width: 100% !important;
}
.button-seperator{
    width:100% !important;
    height: 5px !important;
}
.views-row 
{
    padding-bottom: 5px !important;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .views-exposed-widget
    {
        width: 100% !important;
        margin:.5em 1em 0 0 !important;
    }
    .views-submit-button , .views-reset-button
    {
        float: left !important; 
        width: 100% !important;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {     
    .views-exposed-widget
    {
        width: auto !important;
        margin:.5em 1em 0 0 !important;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .views-exposed-widget
    {
        width: auto !important;
        margin:.5em 1em 0 0 !important;
    }
}