/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-03-2016, 08:23:09
    Author     : tfpet
*/
.main-container{
    width: 100% !important;
}
.view-lokale-bookinger
{
    background-color: white;
}
.views-exposed-widget
{
    width: 15% !important;
    float:left;
    padding-right: 5px !important;
}
.views-widget-filter-field_start_dato_value
{
    width: 8% !important;
}
.div.views-exposed-widget.views-submit-button button
{
    width: auto !important;
    float:left !important;
}
.div.views-exposed-widget.views-submit-button{
    width: 100% !important;
}