/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-03-2016, 08:23:09
    Author     : tfpet
*/
#edit-field-first-open
{
    display:none;
}
.start-date-wrapper , .end-date-wrapper 
{
    width: auto !important;
    clear: none !important;
    float:left;
}
.form-item-field-start-dato-und-0-value2-date
{
    display:none;
}
.form-item-field-start-dato-und-0-value2 label
{
    float: left;
}